

html, header, body, nav, ul, h1, h2, h3, p {
	margin:0;
	padding:0;
}

@import url(https://fonts.googleapis.com/css?family=Lato);

body{
  font-family: "Lato";
}

nav{
	margin-bottom: 20px;
	background-color: rgb(90,92,94);
	height:100%;
	color:white;
}

nav h1{
	margin:0;
	margin-left: 10px;

	padding-top: 10px;
}

header h3, h2 {
  margin: 10px;
}
article{
  display: inline-block;
}

.tagline{
  margin: 10px;
  padding-bottom: 20px;

}

.yeast_section{
  background-color: rgb(210, 227, 242);
  width: 260px;
  padding:10px;
  margin: 10px;
}

.yeast_section p{
  line-height: 2em;
}
